######################################################################
##                                                                  ##
##                      Display MCU board                           ##
##          Anduno mini pro Atmega328p without USB                  ##
##      ST7920 128x64 display, encoder, buttons, buzzer             ##
##                                                                  ##
######################################################################

[mcu display]
serial: /dev/ttyS1

[display]
lcd_type: st7920
cs_pin: display:PB2
sclk_pin: display:PB5
sid_pin: display:PB3
encoder_pins: display:PB0, display:PD7
click_pin: !display:PB1

[delayed_gcode clear_display]
gcode:
    M117

[output_pin _BEEPER]
pin: display:PD6
pwm: True
value: 0
shutdown_value: 0

[gcode_button button_2] # Red
pin: !display:PD3
press_gcode:
	SET_GCODE_VARIABLE MACRO=_global_variables VARIABLE=long_press VALUE=0
	UPDATE_DELAYED_GCODE ID=_long_press DURATION=2
release_gcode:
	{% if printer["gcode_macro _global_variables"].initial_timeout == 1 %}
		{% if printer["gcode_macro _global_variables"].long_press == 1 %}
			#	... and  (printer.idle_timeout.state != "Printing") %}
			#	SDCARD_PRINT_FILE FILENAME=<filename>
			M300 S3000 P100
			M300 S0 P10
			M300 S3000 P100
		{% else %}
			#	{% if printer.pause_resume.is_paused %}
			#		BEEP
			#		LOAD_FILAMENT_TO_CHANGE
			#	{% endif %}
			M300 S3000 P100
		{% endif %}
	{% endif %}

[gcode_button button_3] # Green
pin: !display:PD4
press_gcode:
	SET_GCODE_VARIABLE MACRO=_global_variables VARIABLE=long_press VALUE=0
	UPDATE_DELAYED_GCODE ID=_long_press DURATION=2
release_gcode:
	{% if printer["gcode_macro _global_variables"].initial_timeout == 1 %}
		{% if (printer["gcode_macro _global_variables"].long_press == 1) and
			  (printer.idle_timeout.state != "Printing") %}
			BEEP
			LOAD_FILAMENT
		{% else %}
			{% if not printer.pause_resume.is_paused %}
				TURN_OFF_HEATERS
				M300 S2000 P50
				M300 S0 P10
				M300 S2000 P50
			{% else %}
				M300 S3000 P100
				M300 S0 P10
				M300 S3000 P100
				M300 S0 P10
				M300 S3000 P100
				M300 S0 P10
				M300 S3000 P100
			{% endif %}
		{% endif %}
	{% endif %}

[gcode_button button_4] # Blue
pin: !display:PD5
press_gcode:
	SET_GCODE_VARIABLE MACRO=_global_variables VARIABLE=long_press VALUE=0
	UPDATE_DELAYED_GCODE ID=_long_press DURATION=2
release_gcode:
	{% if printer["gcode_macro _global_variables"].long_press == 1 %}
		{% if (printer["gcode_macro _global_variables"].initial_timeout == 1) and
		      (printer.idle_timeout.state != "Printing") %}
			BEEP
			UNLOAD_FILAMENT
		{% else %}
			{% if not printer.pause_resume.is_paused %}
				M84 # Turn off motors
				M300 S2000 P50
				M300 S0 P10
				M300 S2000 P50
			{% else %}
				M300 S3000 P100
				M300 S0 P10
				M300 S3000 P100
				M300 S0 P10
				M300 S3000 P100
				M300 S0 P10
				M300 S3000 P100
			{% endif %}
		{% endif %}
	{% endif %}

[delayed_gcode _long_press]
gcode:
	SET_GCODE_VARIABLE MACRO=_global_variables VARIABLE=long_press VALUE=1

[gcode_macro M300] #Beep
gcode:
	{% set S = params.S|default(2500)|int %}
	{% set P = params.P|default(500)|int %}

	SET_PIN PIN=_BEEPER VALUE={ 0.3 if S > 0 else 0 } CYCLE_TIME={ 1.0/S if S > 0 else 1 }
	G4 P{P}
	SET_PIN PIN=_BEEPER VALUE=0

[gcode_macro BEEP]
gcode:
    {% set S = params.S|default(2500)|int %}
	{% set P = params.P|default(500)|int %}
    M300 S{S} P{P}