#[gcode_shell_command hello_world]
#command: echo hello world
#timeout: 2.
#verbose: True
#[gcode_macro HELLO_WORLD]
#gcode:
#    RUN_SHELL_COMMAND CMD=hello_world

[gcode_shell_command mcu_restart]
command: echo 7 > /sys/class/gpio/export && echo out > /sys/class/gpio/gpio7/direction && echo 0 > /sys/class/gpio/gpio7/value && sleep 1 && echo 1 > /sys/class/gpio/gpio7/value && echo 7 > /sys/class/gpio/unexport
timeout: 3.
verbose: True
[gcode_macro MCU_RESTART]
gcode:
    RUN_SHELL_COMMAND CMD=mcu_restart

[gcode_shell_command git_commit_and_push]
command: sh /home/danil/klipper_config/git_commit_and_push.sh
timeout: 60.
verbose: True

[gcode_macro GIT_COMMIT]
gcode:
    {% set commit = params.C %}
    { action_respond_info("%s" % (commit)) }
    RUN_SHELL_COMMAND CMD=git_commit_and_push PARAMS="{commit}"